.col-padding {
    padding: 10px !important;
  }
  
  .js .animate-box {
    opacity: 0;
  }

  .blog-entry {
    width: 100%;
    float: left;
    background: #fff;
  }

  .blog-entry:hover .blog-img img {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  @media screen and (max-width: 768px) {
    .blog-entry {
      margin-bottom: 30px;
    }
  }

  .blog-entry .blog-img {
    width: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin-bottom: 25px;
  }
  .blog-entry .blog-img img {
    position: relative;
    max-width: 100%;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.9s;
  }
  .blog-entry .desc {
    padding: 25px;
  }
  .blog-entry .desc h3 {
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 1px;
    line-height: auto;
  }
  .blog-entry .desc h3 a {
    color: #000;
    text-decoration: none;
  }
  .blog-entry .desc span {
    display: block;
    margin-bottom: 20px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.4) !important;
  }
  .blog-entry .desc span small i {
    color: #e6e6e6;
  }
  .blog-entry .desc .lead {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000;
  } 
  
  .work .desc {
    display: table-cell;
    vertical-align: middle;
    height: 270px;
    background: #fff;
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .work .desc h3 {
    font-size: 14px;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  .work .desc span {
    display: block;
    color: #999999;
    font-size: 12px;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translate3d(0, 15px, 0);
    transform: translate3d(0, 15px, 0);
  }
  @media screen and (max-width: 768px) {
    .work .desc {
      opacity: 1;
      background: transparent !important;
    }
    .work .desc h3 {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      color: #fff;
    }
    .work .desc span {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  .work:hover .desc {
    opacity: 1;
  }
  .work:hover .desc h3 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .work:hover .desc span {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }